* {
    box-sizing: border-box;
    margin: 0;
}

/* Nav bar styling */
.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

}

.resource-bar {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 2.5rem;
    padding-left: 1rem;
    padding-bottom: 2px;
    background-color: teal;
    color: white;
}

.resource-bar>div {
    font-size: 1.1rem;
    margin-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-bar {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: #ececec;
    height: 2.5rem;
}

.icon-bar>* {
    margin-left: 1.3rem;
}

.icon-bar>*:hover {
    cursor: pointer;
}

.icon-bar>select {
    outline: none;
    border: none;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
}

.color-option {
    position: relative;
}

input.text-color,
input.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    ;
    opacity: 0;
    width: 100%;
    height: 100%;
}


/* Formula and address display */
.formula-bar {
    width: 100vw;
    background-color: #ececec;
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}


.address-display {
    width: 3rem;
    background-color: white;
    height: 70%;
    outline: none;
    border: none;
    border-radius: 2px;
    text-align: center;
}

.formula-bar>img {
    margin-left: 1rem;
    height: 1.2rem;
    width: 2rem;
}

.formula-input {
    margin-left: 1rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    height: 70%;
    width: calc(100vw - 13rem);
    border-radius: 2px;
}


/* Grid container */
.content-container {
    height: calc(100vh - 9.5rem);
    position: relative;
    overflow: scroll;
    background-color: #ececec;
}

.dummy-box {
    width: 2rem;
    height: 2rem;
    background-color: #5c5470;
    position: sticky;
    top: 0;
    left: 0;
    border: 1px solid #dbd8e3;
    z-index: 4;
}

.address-col {
    position: sticky;
    top: 2rem;
    left: 0rem;
}

.address-row {
    position: sticky;
    top: 0rem;
    left: 2rem;
    display: flex;
}

.col-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #dbd8e3;
}

.row-index {
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbd8e3;
}

.cell-container {
    position: absolute;
    top: 0rem;
    left: 2rem;
    z-index: 0;
}

.row-cont {
    display: flex;
}

.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dbd8e3;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.selected-cell {
    border: 3px solid teal;
}

/* sheet tab */
.sheets-bar {
    height: 2.5rem;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}

.sheet-add:hover {
    cursor: default;
}

.sheet-folder {
    width: calc(100vw - 5rem);
    height: 2.5rem;
    background-color: #e3e3e3;
    margin-left: 0.7rem;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    overflow: auto;
}

.sheet-cont {
    height: 1.5rem;
    width: 4.5rem;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    border-radius: 2px;

    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
}